body {
    background-color: darkcyan;
    text-align: center;
}
canvas {
    display: block;
    margin: auto;
    border: solid royalblue .5em;
}
form {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
input[type=text], [type=submit] {
    font-size: 1em;
    margin-top: .5em;
}
table {
    border-collapse: collapse;
}

table,th,td {

    margin: auto;
    margin-top: .5em;
    border: .1em solid black;
    text-align: center;
    background-color: #0695bd;
    font-size: 1.2em;
}
th {
    padding-left: 1em;
    padding-right: 1em;
}

#gameButtons {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#gameButtons button {
    font-size: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
}